@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.container {
  padding: 0;

  @extend %container;

  @media screen and (min-width: 767px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.title {
  margin-bottom: 50px;

  text-align: center;

  @extend %mobile_second_title;

  @media screen and (min-width: 767px) {
    margin-bottom: 100px;

    font-size: 36px;
    line-height: normal;
    letter-spacing: 3.6px;

    text-transform: uppercase;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @extend %list;

  @media screen and (min-width: 767px) {
    flex-direction: row;
    gap: 25px;
  }
}

.item {
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;

  padding: 20px;

  z-index: -1;

  background-color: #f4f8fd;
  border-radius: 25px;
  box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);

  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/achievements/achievements1.png");

  @media screen and (min-width: 767px) {
    flex-basis: calc((100% - 75px) / 4);

    height: 460px;
  }
}

.item:nth-child(2) {
  background-image: url("../../public/achievements/achievements2.png");
}

.item:nth-child(3) {
  background-size: contain;
  background-size: 240px;
  background-position: center top 40%;
  background-image: url("../../public/achievements/achievements3.png");
}

.item:nth-child(4) {
  background-size: contain;
  background-size: 240px;
  background-position: center top 40%;
  background-image: url("../../public/achievements/achievements4.png");
}

.decoration {
  height: 290px;

  @media screen and (min-width: 767px) {
    height: 350px;
  }
}

.text {
  margin-left: auto;
  margin-right: auto;

  line-height: 1.5;
}

.accent {
  color: $secondary-title-color;

  font-weight: 700;
}
