@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.thumb {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 100px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("../../public/looking-bg.png");

  @media screen and (min-width: 1200px) {
    padding-top: 140px;
    padding-bottom: 170px;

    background-position: left;
  }
}

.container {
  text-align: center;
}

.title {
  margin-bottom: 16px;

  color: $secondary-text-color;

  @extend %middle-title;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;

    text-transform: uppercase;
  }
}

.text {
  margin-bottom: 24px;

  color: $secondary-text-color;

  font-size: 16px;
  line-height: 1.62;

  @media screen and (min-width: 1200px) {
    margin-bottom: 36px;

    font-size: 24px;
    line-height: normal;
  }
}

.button {
  margin-left: auto;
  margin-right: auto;

  color: $primary-button-color;
  border-color: $primary-button-color;
  background-color: #ffffff;

  @extend %main-button;

  &:hover,
  :focus {
    color: #ffffff;
    background-color: $primary-button-color;
  }
}
