@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateAnimationClose {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.item {
  width: 100%;
  padding: 0 10px 0 10px;

  border-radius: 16px;
  box-shadow: 0px 3px 16px rgba(29, 51, 107, 0.15);

  @media screen and (min-width: 768px) {
    padding: 0 30px 0 30px;
  }
}

.main_title {
  margin-left: 5px;

  color: $primary-title-color;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.58;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}

.buttons_thumb {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;

  @media screen and (min-width: 768px) {
    padding: 29px 0 29px 0;
  }
}

.button {
  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;

  fill: $primary-title-color;
}

.iconOpen {
  transform: rotate(180deg);

  animation: rotateAnimation $timing-function;
}

.iconClose {
  transform: rotate(0deg);

  animation: rotateAnimationClose $timing-function;
}

.modal_btn {
  width: 120px;

  color: $secondary-text-color;
  background-color: $primary-button-color;
  background-color: $primary-button-color;

  @extend %main-button;

  &:hover,
  :focus {
    background-color: $secondary-button-color;
    background-color: $secondary-button-color;
  }

  @media screen and (min-width: 768px) {
    width: 160px;
  }
}

.criterion_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

  &:nth-child(1) {
    border-top: 1px solid $primary-title-color;
  }

  @extend %list;

  @media screen and (min-width: 768px) {
    gap: 30px;
    padding: 40px;
  }
}

.requirements_title {
  margin-bottom: 16px;

  color: $primary-title-color;

  font-size: 18px;
  line-height: 1.55;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.9;
    letter-spacing: 1.4px;
  }
}

.requirements_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 24px;

  @extend %list;

  li::before {
    position: absolute;
    content: "\2022";
    color: #276ed8;
    font-weight: 900;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: -15px;
  }
}
