@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.container {
  @extend %container;
}

.faq_title {
  margin-bottom: 30px;

  text-align: center;

  @extend %mobile_second_title;

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;

    color: $primary-title-color;

    text-align: center;
    font-size: 36px;
    line-height: normal;
    letter-spacing: 3.6px;

    text-transform: uppercase;
  }
}

.faq_thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq_decoration_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left, top right;
  background-image: url("../../public/faq-left-mobile.png"),
    url("../../public/faq-right-mobile.png");

  @media screen and (min-width: 1200px) {
    background-position: top left 10%, top right 10%;
    background-image: url("../../public/faq-left.png"),
      url("../../public/faq-right.png");
  }

  @media screen and (min-width: 1600px) {
    background-position: top left 18%, top right 18%;
  }
}

.faq_titles_list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-left: 50px;

  color: $secondary-title-color;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.55;

  @media screen and (min-width: 1200px) {
    padding-left: 0;

    font-size: 20px;
    line-height: 1.5;
  }
}

.faq_list {
  color: $primary-text-color;

  @extend %list;
}
