@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateAnimationClose {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.item {
  padding: 16px;

  border-bottom: 1px solid rgba(13, 110, 183, 0.5);

  @media screen and (min-width: 767px) {
    width: 780px;
  }
}

.title {
  flex: 2;

  text-align: start;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;

  @media screen and (min-width: 767px) {
    flex: 1;

    font-size: 20px;
    line-height: 1.5;
  }
}

.button {
  width: 100%;
  display: flex;
  padding-top: 4px;
  padding-left: 4px;

  justify-content: center;
  margin-bottom: 14px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: 767px) {
    padding-top: 0;
    padding-left: 0;

    align-items: center;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.iconOpen {
  transform: rotate(180deg);

  animation: rotateAnimation $timing-function;
}

.iconClose {
  transform: rotate(0deg);

  animation: rotateAnimationClose $timing-function;
}
