@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateAnimationClose {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.site_logo {
  position: relative;
  display: block;
  top: -7px;
}

.site_nav_wrapper {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.site_nav_list {
  display: flex;
  align-items: center;
  gap: 20px;

  @extend %list;
}

.site_nav_item {
  padding-top: 22px;
  padding-bottom: 22px;
}

.hover_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 55px;
  padding: 12px;

  color: $secondary-text-color;
  background-color: rgba(33, 33, 33, 0.9);
  border-top: 3px solid #00a4e8;

  @extend %list;
}

.site_nav_link_button {
  position: relative;
  display: flex;
  align-items: center;

  color: $secondary-text-color;
  background-color: transparent;
  border: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 2.25;

  transition: color $timing-function;

  cursor: text;

  &:hover {
    color: $hover-text-color;
  }
}

.icon {
  width: 16px;
  height: 16px;

  margin-left: 5px;
}

.iconOpen {
  transform: rotate(180deg);

  animation: rotateAnimation $timing-function;
}

.iconClose {
  transform: rotate(0deg);

  animation: rotateAnimationClose $timing-function;
}

.site_nav_link {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 2.25;

  color: $secondary-text-color;

  transition: color $timing-function;

  &:hover {
    color: $hover-text-color;
  }
}

.site_nav_button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $secondary-text-color;

  @extend %main-button;

  &:hover {
    background-color: #06b25f;
    border-color: #06b25f;
  }
}
