@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.section {
  padding-bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @extend %container;
}

.navigate {
  display: block;
  margin-bottom: 90px;

  color: $primary-title-color;

  font-family: var(--font-montserrat);
  line-height: 1.5;
}

.title {
  max-width: 640px;
  margin-bottom: 20px;

  @extend %main-title;
}

.text {
  max-width: 580px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.41;
}
