@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.section {
  padding-bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @extend %container;
}

.thumb {
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.navigate {
  display: block;
  margin-bottom: 36px;

  color: $primary-title-color;

  font-family: var(--font-montserrat);
  font-size: 12px;
  line-height: 2.16;

  @media screen and (min-width: 1200px) {
    margin-bottom: 90px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.title {
  margin-bottom: 10px;

  text-align: center;

  @extend %middle-title;

  @media screen and (min-width: 1200px) {
    max-width: 640px;
    margin-bottom: 20px;

    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;

    text-transform: uppercase;
  }
}

.text {
  max-width: 580px;
  margin-bottom: 30px;

  text-align: center;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.55;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;

    text-align: start;

    font-size: 24px;
    line-height: 1.41;
  }
}

.image {
  @media screen and (max-width: 1199px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
