@import "../../src/utils/variables.module.scss";
@import "../../src/utils/placeholders.module.scss";

.hero {
  @media screen and (min-width: 500px) {
    height: 600px;
  }

  @media screen and (min-width: 1500px) {
    height: 940px;
  }
}

.slider_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 180px;
  padding-left: 150px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 769px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 1500px) {
    padding-top: 180px;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

.big_image {
  top: -60px;
}

.thumb {
  max-width: 850px;

  color: $secondary-text-color;
}

.title {
  margin-bottom: 16px;

  color: $secondary-text-color;

  @extend %main-title;
}

.highlight {
  display: block;
  margin-bottom: 20px;

  color: #44c9ff;

  font-size: 29px;
  line-height: 1.31;
}

.text {
  max-width: 750px;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 1.62;
}

.btns_thumb {
  display: flex;
  gap: 24px;
}

.more_btn {
  color: $secondary-text-color;

  @extend %main-button;

  &:hover,
  :focus {
    background-color: $primary-button-color;
    border-color: $primary-button-color;
  }

  @media screen and (max-width: 500px) {
    width: 146px;
  }
}

.contact_btn {
  color: $secondary-text-color;
  background-color: $primary-button-color;
  border-color: $primary-button-color;

  @extend %main-button;

  &:hover,
  :focus {
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
  }

  @media screen and (max-width: 500px) {
    width: 146px;
  }
}

.mobile_hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  @media screen and (min-width: 500px) {
    display: none;
  }
}

.text_wrap {
  width: 100%;

  text-align: center;
  @extend %container;
}

.mobile_title {
  margin-bottom: 36px;

  color: $secondary-text-color;

  @extend %middle-title;
}

.btns_wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;

  margin-bottom: 80px;
}
