@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.button {
  position: relative;
  z-index: 11;
  outline: none;
  border: none;
  cursor: pointer;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: transparent;
}