@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.container {
  @extend %container;
  padding-bottom: 80px;
}

.thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 30px;

  color: $primary-title-color;

  text-align: center;

  @extend %mobile_second_title;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;

    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;

    text-transform: uppercase;
  }
}

.titles_list {
  display: flex;
  flex-direction: column;
  gap: 26px;

  color: $secondary-title-color;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @extend %list;
}
