@import "../utils/variables.module.scss";
@import "../utils/placeholders.module.scss";

html {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding-top: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
