@import "../utils/variables.module.scss";
@import "../utils/placeholders.module.scss";

html {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--font-raleway);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: $primary-text-color;
  line-height: 1.62;

  --swiper-navigation-size: 36px;
  --swiper-navigation-top-offset: 95%;
  --swiper-navigation-sides-offset: 5%;

  @media screen and (min-width: 375px) {
    --swiper-navigation-size: 42px;
    --swiper-navigation-top-offset: 40%;
    --swiper-navigation-sides-offset: 2%;
  }

  @media screen and (min-width: 550px) {
    --swiper-navigation-sides-offset: 10%;
  }

  @media screen and (min-width: 1200px) {
    --swiper-navigation-size: 54px;
    --swiper-navigation-top-offset: 40%;
    --swiper-navigation-sides-offset: 0px;
  }

  @media screen and (min-width: 1600px) {
    --swiper-navigation-size: 54px;
    --swiper-navigation-top-offset: 47%;
    --swiper-navigation-sides-offset: 0px;
  }
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: var(--font-montserrat);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #6793b6;
}

::-webkit-scrollbar-thumb {
  background-color: #0f70b9;
}

.no-scroll {
  @media screen and (min-width: 1024px) {
    padding-right: 8px;
  }
}
