@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.footer {
  width: 100%;
  height: 700px;
  padding-top: 360px;

  color: $secondary-text-color;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../public/footer.png");
}

.container {
  display: flex;

  @extend %container;
}

.logo {
  display: block;
  margin-bottom: 53px;
}

.links_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  gap: 45px;

  @extend %list;
}

.social_link {
  fill: #ffffff;

  transition: fill $timing-function;

  &:hover,
  :focus {
    fill: $primary-button-color;
  }
}

.icon {
  width: 40px;
  fill: inherit;
}

.navigation {
  display: flex;
  padding-top: 16px;
  gap: 120px;
  margin-left: auto;

  @extend %list;
}

.navigation a {
  text-decoration: none;
  position: relative;
}

.navigation a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $secondary-text-color;
  transform: scaleX(0);
  transition: transform $timing-function;
}

.navigation a:hover::after,
.navigation a:focus::after {
  transform: scaleX(1);
}

.title {
  display: block;
  margin-bottom: 30px;

  color: $secondary-text-color;

  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1.4px;
}

.pages_list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @extend %list;
}

.main_pages_list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  font-family: var(--font-raleway);
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1.4px;

  @extend %list;
}

.wrap {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  color: #4c4c4c;

  font-size: 14px;
  line-height: normal;
}

.wrap_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.policy {
  display: flex;
  gap: 40px;
}
