@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.container {
  text-align: center;

  color: $primary-text-color;

  @extend %container;
}

.title {
  margin-bottom: 60px;

  @extend %second-title;
}

.text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: normal;
}

.text_wrap {
  display: block;
  margin-bottom: 100px;
}

.thumb {
  display: flex;
  justify-content: space-evenly;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  text-align: start;

  @extend %list;
}

.address {
  font-style: normal;
}

.link {
  display: flex;
  gap: 16px;
  align-items: center;

  fill: $secondary-title-color;

  font-size: 20px;
  line-height: normal;

  transition: color $timing-function, fill $timing-function;

  &:hover,
  :focus {
    color: $hover-text-color;
    fill: $hover-text-color;
  }
}

.icon {
  fill: inherit;
  width: 24px;
}

.form_thumb {
  position: relative;
}

.decoration {
  width: 155px;
  position: absolute;
  z-index: -1;

  background-repeat: no-repeat;
}

.decoration:nth-child(1) {
  top: -15%;
  left: -25%;
  height: 152px;
  background-image: url("../../public/contacts/form-bg1.png");
}

.decoration:nth-child(2) {
  bottom: 5%;
  left: -30%;
  height: 108px;
  background-image: url("../../public/contacts/form-bg2.png");
}

.decoration:nth-child(3) {
  top: -15%;
  right: -20%;
  height: 230px;
  background-image: url("../../public/contacts/form-bg3.png");
}
