@import "./variables.module.scss";

%container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: 1600px) {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 120px;
    padding-right: 120px;
  }
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

%no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

%main-title {
  color: $secondary-title-color;

  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;

  text-transform: uppercase;
}

%second-title {
  color: $primary-title-color;

  font-size: 36px;
  line-height: normal;
  letter-spacing: 3.6px;

  text-transform: uppercase;
}

%middle-title {
  color: $secondary-title-color;

  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 1.2px;

  text-transform: uppercase;
}

%small-title {
  color: $primary-title-color;

  font-size: 18px;
  line-height: 1.58;
  letter-spacing: 1.2px;

  text-transform: uppercase;
}

%mobile_second_title {
  color: $primary-title-color;

  font-size: 22px;
  line-height: 1.72;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

%mobile_midle_title {
  color: $secondary-title-color;

  font-size: 18px;
  line-height: 2.11;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

%main-button {
  display: block;

  height: 42px;
  width: 160px;

  font-weight: 700;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.1em;

  border: 2px solid #ffffff;
  border-radius: 6px;

  background-color: transparent;

  transition: background-color $timing-function, border-color $timing-function;

  cursor: pointer;
}
