$primary-text-color: #242424;
$secondary-text-color: #ffffff;
$primary-title-color: #194484;
$secondary-title-color: #0d6eb7;
$hover-text-color: #44c9ff;
$primary-button-color: #06b25f;
$secondary-button-color: #0b8349;
$timing-function: 250ms ease-in-out;
