@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.container {
  @extend %container;
}

.list {
  display: flex;
  justify-content: space-between;

  @extend %list;
}

.item {
  max-width: 555px;
}

.title {
  margin-bottom: 16px;

  @extend %middle-title;
}
