@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.services_section {
  width: 100%;
  @extend %no-padding;
}

.container {
  @extend %container;
}

.title {
  margin-bottom: 20px;

  text-align: center;

  @extend %mobile_second_title;

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;

    font-size: 36px;
    line-height: normal;
    letter-spacing: 3.6px;

    text-transform: uppercase;
  }
}

.content_list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @extend %list;
}

.content_list_title {
  margin-bottom: 20px;

  text-align: center;

  @extend %mobile_midle_title;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.content_list_text {
  max-width: 555px;

  @media screen and (min-width: 1200px) {
    max-width: 480px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 555px;
  }
}

.content_list_item {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-bottom: 260px;

  gap: 30px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left 20px;
  background-image: url("../../public/services-decorations/decor-bg1.webp");

  @media screen and (min-width: 500px) {
    padding-bottom: 400px;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 440px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    gap: 0;
    padding-top: 40px;
    padding-bottom: 40px;

    background-position: bottom right -40px;
  }

  @media screen and (min-width: 1400px) {
  }
}

.content_list_item:nth-child(2n) {
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
    background-position: bottom left;
  }
}

.content_list_item:nth-child(2) {
  background-image: url("../../public/services-decorations/decor-bg2.webp");
}

.content_list_item:nth-child(3) {
  background-position: bottom right -80px;
  background-image: url("../../public/services-decorations/decor-bg3.webp");
}

.content_list_item:nth-child(4) {
  background-image: url("../../public/services-decorations/decor-bg4.webp");
}
