@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.section {
  width: 100%;
  @extend %no-padding;
}

.container {
  @extend %container;
}

.content_list_title {
  margin-bottom: 10px;

  @extend %middle-title;
}

.content_list_text {
  @media screen and (min-width: 768px) {
    max-width: 550px;
  }
}

.content_list_item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
  }
}

.content_list_item:nth-child(2n) {
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }
}

.thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.link {
  color: $secondary-title-color;
}
