@import "../../src/utils/placeholders.module.scss";
@import "../../src/utils/variables.module.scss";

.section {
  width: 100%;
  @extend %no-padding;
}

.container {
  @extend %container;
}

.content_list_title {
  margin-bottom: 10px;

  color: $secondary-title-color;

  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 1.2px;
}

.content_list_text {
  max-width: 550px;
}

.content_list_item {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.content_list_item:nth-child(2n) {
  flex-direction: row-reverse;
}

.thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 1.62;
}

.text_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.link {
  color: $secondary-title-color;
}
